{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Porto-Cart{% endblock %}
{% block content %}

<main class="main">

	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">My Cart</li>
			</ol>
		</div><!--  End .container -->
	</nav>
	
	{% if cart%}
	<div class="page-header">
		<div class="container">
			<h1>Shopping Cart</h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->

	<div class="container">
		<div class="row row-sparse">
			<div class="col-lg-8 padding-right-lg">
				<div class="cart-table-container">
					<table class="table table-cart">
						<thead>
							<tr>
								<th class="product-col">Product</th>
								<th class="price-col">Price</th>
								<th class="price-col">Offer%</th>

								<th class="qty-col">Qty</th>
								<th>Subtotal</th>
							</tr>
						</thead>
						{% for item in cart %}
						<tbody>
							<tr class="product-row">
								<td class="product-col">
									<figure class="product-image-container">
										<a href="{% url 'product' pk=item.user_product.id %}" class="product-image">
											<img src="{{item.user_product.image1url}}" style="height: 150px;width:150px"
												alt="product">
										</a>
									</figure>
									<h3 class="product-title">
										<a
											href="{% url 'product' pk=item.user_product.id %}">{{item.user_product.product_name}}</a>
									</h3>
								</td>
								<td id="lprice-{{item.id}}">{{item.user_product.product_price}}</td>
								{% if item.user_product.category.valid == True %}
								<td value="{{item.user_product.category.category_offer}}" id="loffer-{{item.id}}" >{{item.user_product.category.category_offer}}</td>
								{% else %}
								<td id="loffer-{{item.id}}">0</td>

								{% endif %}

								<td>
									<!-- <div class="product-single-qty"> -->
										<!-- <h3 id="count">{{item.product_count}}</h3> -->
										<input class="vertical-quantity form-control" id="nquantity-{{item.id}}" value="{{item.product_count}}" onchange="editQuantitycart('{{item.id}}')" type="text">

									<!-- </div> -->
								</td>
								<td id="subtotal-{{item.id}}">{{item.subtotal}}</td>
							</tr>
							<tr class="product-action-row">
								<td colspan="4" class="clearfix">
	

									<div  class="float-right">
										

										<span title="Remove product" onclick="removeProduct('{{item.id}}')"
											onclick="return confirm('Are you sure you want to delete this product?');"
											class="btn-remove icon-cancel"></span>

									</div><!-- End .float-right -->
								</td>
							</tr>
						</tbody>

						{% endfor %}
						<tfoot>
							<tr>
								<td colspan="4" class="clearfix">
									<div class="float-left">
										<a href="{% url 'landing' %}" class="btn btn-outline-secondary">Continue
											Shopping</a>
									</div><!-- End .float-left -->

									<div class="float-right">
										<a href="clear-all-cart" class="btn btn-outline-secondary btn-clear-cart">Clear
											Shopping
											Cart</a>
										<!-- <a href="#" class="btn btn-outline-secondary btn-update-cart">Update Shopping
											Cart</a> -->
									</div><!-- End .float-right -->
								</td>
							</tr>
						</tfoot>
					</table>
				</div><!-- End .cart-table-container -->
				
				
			</div><!-- End .col-lg-8 -->
			

			<div class="col-lg-4">
				<div class="cart-summary" >
					<h3>Summary</h3>

					<table id="newsummary" class="table table-totals">
						<tbody>
				
							<tr>
								<td>Subtotals</td>
								{% for item in grant%}
								<td id="subt">{{subtotal}}</td>

							</tr>	
						</tbody>
						<tfoot>
							<tr>
								<td>Order Total</td>
								<td id="finalprice">{{item}}</td>
								{% endfor %}
							</tr>
						</tfoot>
					</table>

					<div class="checkout-methods">
						<a href="{% url 'checkout' %}" class="btn btn-block btn-sm btn-primary">Go to Checkout</a>
						<!-- <a href="#" class="btn btn-link btn-block">Check Out with Multiple Addresses</a> -->
					</div><!-- End .checkout-methods -->
				</div><!-- End .cart-summary -->
			</div><!-- End .col-lg-4 -->
		</div><!-- End .row -->
	</div><!-- End .container -->

	<div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->

{% else %}
<div class="page-header">
	<div class="container">
		<h1>Cart is empty continue shopping</h1>
	</div><!-- End .container -->
</div><!-- End .page-header -->
<tfoot>
	<tr>
		<td colspan="4" class="clearfix ">
			<div class="float-left" style="margin-left: 30%;">
				<a href="{% url 'landing' %}" class="btn btn-outline-secondary">Continue
					Shopping</a>
			</div><!-- End .float-left -->
		</td>
	</tr>
</tfoot>

{% endif %}
{%endblock%}