{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}PORTO|Change password{% endblock %}
{% block content %}


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container">
        <div class="row row-sparse">
            <div class="col-lg-9 order-lg-last dashboard-content">
                <h2 class="text-primary">Change password</h2>
                <span class="alert-danger" id="block" role="alert"></span>
                <form  method="POST" id="changuserpassword">{% csrf_token %}

                    <div class="form-group required-field">
                        <label for="acc-password">Old Password</label>
                        <input type="password" class="form-control" id="orginalpassword" name="orginalpassword">
                    </div><!-- End .form-group -->

                    <div class="mb-2"></div><!-- margin -->


                    <div id="account-chage-pas">
                        <h3 class="mb-2">Change Password</h3>
                        <div class="row row-sparse">
                            <div class="col-md-6">
                                <div class="form-group required-field">
                                    <label for="acc-pass2">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div><!-- End .form-group -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="form-group required-field">
                                    <label for="acc-pass3">Confirm Password</label>
                                    <input type="password" class="form-control" id="cpassword" name="cpassword">
                                </div><!-- End .form-group -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End #account-chage-pass -->

                    <div class="required text-right">* Required Field</div>
                    <div class="form-footer">
                        <a href="{% url 'dashboard' %}"><i class="icon-angle-double-left"></i>Back</a>

                        <div class="form-footer-right">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </div><!-- End .form-footer -->
                </form>
            </div><!-- End .col-lg-9 -->

            <aside class="sidebar col-lg-3">
                <div class="widget widget-dashboard">
                    <h3 class="widget-title">My Account</h3>

                    <ul class="list">
                        <li><a href="{% url 'dashboard' %}">Account Dashboard</a></li>
                        <li><a href="{% url 'edit-user-account' %}">Edit Account Information</a></li>
                        <li><a href="#">Address Book</a></li>
                        <li><a href="">My Orders</a></li>
                    </ul>
                </div><!-- End .widget -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->

{% endblock %}