{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}PORTO|Dashboard{% endblock %}
{% block content %}

<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'landing' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</a></li>
			</ol>
		</div><!-- End .container -->
	</nav>

	<div class="container">
		<div class="row row-sparse">
			<div class="col-lg-9 order-lg-last dashboard-content">
				<h2 class="text-primary">My Dashboard</h2>

				<div class="alert alert-success alert-intro" role="alert">
					Thank you for registering with Porto
				</div><!-- End .alert -->

				<!-- <div class="alert alert-success" role="alert">
					Hello, <strong>Porto customer!</strong> From your My Account Dashboard you have the ability to view
					a o of your recent account activity and update your account information. Select a link below
					to view or edit information.
				</div>End .alert -->

				<div class="mb-4"></div><!-- margin -->

				<h3>Account Information</h3>

				<div class="row row-sparse">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								Account Information
								<a href="{% url 'edit-user-account' %}" class="card-edit">Edit</a>
							</div><!-- End .card-header -->

							<div class="card-body">
								<div class="col-xs-8 " style="float: left;">
									<p>
										<strong>Firstname:</strong>{{request.user.firstname}}<br><br>
										<strong>Last name:</strong>{{request.user.lastname}}<br><br>
										<strong>Username:</strong>{{request.user.username}}<br><br>
										<strong>Email:</strong>{{request.user.email}}<br><br>
										<strong>Phone number:</strong>{{profile.phone}}<br><br>

										<a href="{% url 'change-user-password' %}" class="mt-4">Change Password</a>
									</p>
								
								</div>
								{% if profile.imageurl == '' %}
								<a href="{% url 'edit-user-account' %}">Add Photo</a>
								{% else %}
								<div class="col-xs-4" style="float: left; margin-left: 30px;">
									<img style="height: 80px;width: 80px;border-radius: 50%;" src="{{profile.imageurl}}" />
								</div>
								{%endif%}
							
							</div><!-- End .card-body -->
						</div><!-- End .card -->
					</div><!-- End .col-md-6 -->
				


				</div><!-- End .row -->
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								Address Book
							</div><!-- End .card-header -->

							<div class="card-body">
								<div class="col-md-6">
									{% if address%}
									<Strong>Saved Address</Strong><br>
									<br>
									{% for address in address %}
									<address>
										{{address.firstname}} <br>
										{{address.organization}}<br>
										{{address.streetaddress}}<br>
										{{address.city}} <br>
										{{address.state}} <br>
										{{address.country}} <br>
										{{address.number}} <br>
									</address>
									{% endfor %}
									{% else %}
									<strong>No saved address</strong>
									{%endif%}
								</div>
							
							</div><!-- End .card-body -->
						</div><!-- End .card -->
					</div><!-- End .col-md-6 -->


			</div><!-- End .col-lg-9 -->

			<aside class="sidebar col-lg-3">
				<div class="widget widget-dashboard">
					<h3 class="widget-title">My Account</h3>

					<ul class="list">
						<li class="active"><a href="#">Account Dashboard</a></li>
						<li><a href="{% url 'edit-user-account' %}">Edit Account Information</a></li>
						<li><a href="{% url 'cart' %}">My cart</a></li>
						<li><a href="{% url 'my-orders' %}">My Orders</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>

					
					</ul>
				</div><!-- End .widget -->
			</aside><!-- End .col-lg-3 -->
		</div><!-- End .row -->
	</div><!-- End .container -->

	<div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->
{% endblock %}