{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}PORTO{% endblock %}
{% block content %}

<main class="main">
	<div class="home-slider owl-carousel owl-theme show-nav-hover nav-big">

		<div class="home-slide home-slide1 banner">
			<img class="slide-bg owl-lazy" src="{% static '/myapp/images/lazy.png' %}"
				data-src="{% static '/myapp/images/slider/slide1.jpg' %}" alt="home banner">
			<div class="banner-layer banner-layer-middle">
				<h2>Winter Fashion Trends</h2>
				<h3 class="text-uppercase mb-0">Get up to 30% off</h3>
				<h4 class="m-b-4">on Jackets</h4>

				<h5 class="text-uppercase">Starting at<span class="coupon-sale-text"><sup>$</sup>199<sup>99</sup></span>
				</h5>
				<a href="category.html" class="btn btn-dark btn-xl" role="button">Shop Now</a>
			</div><!-- End .banner-layer -->
		</div><!-- End .home-slide -->

		<div class="home-slide home-slide2 banner">
			<img class="slide-bg owl-lazy" src="{% static 'myapp/images/lazy.png' %}"
				data-src="{% static 'myapp/images/slider/slide2.jpg' %}" alt="home banner">
			<div class="banner-layer banner-layer-middle">
				<h2 class="m-b-1">New Season Hats </h2>
				<h3 class="text-uppercase rotated-upto-text mb-0"><small>Up to</small>20% off</h3>

				<hr class="short-thick-divider">

				<h5 class="text-uppercase d-inline-block mb-0">Starting at <span class="ml-2">$<em>19</em>99</span></h5>
				<a href="category.html" class="btn btn-dark btn-xl btn-icon-right" role="button">Shop Now <i
						class="fas fa-long-arrow-alt-right"></i></a>
			</div><!-- End .banner-layer -->
		</div><!-- End .home-slide -->
	</div><!-- End .home-slider -->

	<section class="container">
		<h2 class="section-title ls-n-10 text-center pt-2 m-b-4">Shop By Category</h2>

		<div class="owl-carousel owl-theme nav-image-center show-nav-hover nav-outer cats-slider">
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-1.jpg' %}">
					</figure>
					<div class="category-content">
						<h3>Sunglasses</h3>
						<span><mark class="count">8</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-2.jpg' %}">
					</figure>
					<div class="category-content">
						<h3>Bags</h3>
						<span><mark class="count">4</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-3.jpg' %}">
					</figure>
					<div class="category-content">
						<h3>Electronics</h3>
						<span><mark class="count">8</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-4.jpg'%}">
					</figure>
					<div class="category-content">
						<h3>Fashion</h3>
						<span><mark class="count">11</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-5.jpg'%}">
					</figure>
					<div class="category-content">
						<h3>Headphone</h3>
						<span><mark class="count">3</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-6.jpg'%}">
					</figure>
					<div class="category-content">
						<h3>Shoes</h3>
						<span><mark class="count">4</mark> products</span>
					</div>
				</a>
			</div>
			<div class="product-category">
				<a href="category.html">
					<figure>
						<img src="{% static 'myapp/images/categories/category-1.jpg'%}">
					</figure>
					<div class="category-content">
						<h3>Sunglasses</h3>
						<span><mark class="count">8</mark> products</span>
					</div>
				</a>
			</div>
		</div>
	</section>

	<section class="bg-gray banners-section text-center">
		<div class="container py-2">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="home-banner banner banner-sm-vw mb-2">
						<img src="{% static 'myapp/images/banners/home-banner1.jpg' %}">
						<div class="banner-layer banner-layer-bottom text-left">
							<h3 class="m-b-2">Sunglasses Sale</h3>
							<h4 class="m-b-3">See all and find yours</h4>
							<a href="category.html" class="btn  btn-primary" role="button">Shop By Glasses</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="home-banner banner banner-sm-vw mb-2">
						<img src="{% static 'myapp/images/banners/home-banner2.jpg' %}">
						<div class="banner-layer banner-layer-top ">
							<h3 class="mb-0">Cosmetics Trends</h3>
							<h4 class="m-b-4">Browse in all our categories</h4>
							<a href="category.html" class="btn  btn-primary" role="button">Shop By Cosmetics</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="home-banner banner banner-sm-vw mb-2">
						<img src="{% static 'myapp/images/banners/home-banner3.jpg'%}">
						<div class="banner-layer banner-layer-middle">
							<h3 class="text-white m-b-1">Fashion Summer Sale</h3>
							<h4 class="text-white m-b-4">Browse in all our categories</h4>
							<a href="category.html" class="btn btn-light bg-white" role="button">Shop By Fashion</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="home-banner banner banner-sm-vw mb-2">
						<img src="{% static 'myapp/images/banners/home-banner4.jpg'%}">
						<div class="banner-layer banner-layer-bottom banner-layer-boxed">
							<h3 class="m-b-2">UP TO 70% IN ALL BAGS</h3>
							<h4 class="mb-0">Starting at $99</h4>
							<a href="category.html" class="btn  btn-primary" role="button">Shop By Bags</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container pb-3 mb-1">
		<h2 class="section-title ls-n-10 text-center pb-2 m-b-4">Featured Products</h2>
		<div class="row">
			{% for product in products%}
			<div class="col-md-3">
				<div class="product-default inner-quickview inner-icon">
					<figure>
						<a href="{% url 'product' pk=product.id %}">
							<img src="{{product.image1.url}}" style="width: 150px; height: 150px;">
						</a>
						<!-- <div class="btn-icon-group">
							<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">
								<i
									class="icon-shopping-cart"></i></button>


						</div> -->
						<button type="button" class="btn-quickview" data-toggle="modal"
							data-target="#exampleModal-{{product.id}}">
							Quick View
						</button>

						<!-- ---------------------------------------------------------------------------------------- -->

						<!-- Modal -->
						<div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<button type="button" class="close ml-auto mr-4 mt-1" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="modal-body">
										<div class="product-single-container product-single-default product-quick-view">
											<div class="row row-sparse">
												<div class="col-lg-6 product-single-gallery" >
													<div class="product-slider-container">
														<div class="product-single-carousel owl-carousel owl-theme">
															<div class="product-item">
																<img class="product-single-image"
																	src="{{product.image1url}}"
																	data-zoom-image="https://www.portotheme.com/html/porto_ecommerce/demo_1/ajax/assets/images/products/zoom/product-1-big.jpg" />
															</div>
															<div class="product-item">
																<img class="product-single-image"
																	src="{{product.image2url}}"
																	data-zoom-image="https://www.portotheme.com/html/porto_ecommerce/demo_1/ajax/assets/images/products/zoom/product-2-big.jpg" />
															</div>
															<div class="product-item">
																<img class="product-single-image"
																	src="{{product.image3url}}"
																	data-zoom-image="https://www.portotheme.com/html/porto_ecommerce/demo_1/ajax/assets/images/products/zoom/product-3-big.jpg" />
															</div>

														</div>
														<!-- End .product-single-carousel -->
													</div>
													<div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
														<div class="owl-dot">
															<img style="height: 100px;width:100px" src="{{product.image1url}}" />
														</div>
														<div class="owl-dot">
															<img style="height: 100px;width:100px" src="{{product.image2url}}" />
														</div>
														<div class="owl-dot">
															<img style="height: 100px;width:100px"src="{{product.image3url}}" />
														</div>

													</div>
												</div><!-- End .product-single-gallery -->

												<div class="col-lg-6 product-single-details">
													<h1 class="product-title">{{product.product_name}}</h1>

													<div class="ratings-container">
														<div class="product-ratings">
															<span class="ratings" style="width:60%"></span>
															<!-- End .ratings -->
														</div><!-- End .product-ratings -->

														<a href="#" class="rating-link">( 6 Reviews )</a>
													</div><!-- End .product-container -->

													<div class="price-box">
														<span class="old-price">₹81.00</span>
														<span class="product-price">₹{{product.product_price}}</span>
													</div><!-- End .price-box -->

													<div class="product-desc">
														<p>{{product.proudct_description}}</p>
													</div><!-- End .product-desc -->

													<div class="product-filters-container">
														<div class="product-single-filter">
															<label>Colors:</label>
															<ul class="config-swatch-list">
																<li class="active">
																	<a href="#" style="background-color: #0188cc;"></a>
																</li>
																<li>
																	<a href="#" style="background-color: #ab6e6e;"></a>
																</li>
																<li>
																	<a href="#" style="background-color: #ddb577;"></a>
																</li>
																<li>
																	<a href="#" style="background-color: #6085a5;"></a>
																</li>
															</ul>
														</div><!-- End .product-single-filter -->
													</div><!-- End .product-filters-container -->

													<hr class="divider">

													<div class="product-action">
														<div class="product-single-qty">
															<input class="horizontal-quantity form-control"
																id="quantity" type="text">
														</div><!-- End .product-single-qty -->

														<button class="btn btn-dark add-cart"
															onclick="addToCart('{{product.id}}')"
															title="Add to Cart">Add to
															Cart</button>
													</div><!-- End .product-action -->

													<hr class="divider">

													<div class="product-single-share">
														<label class="sr-only">Share:</label>

														<!-- www.addthis.com share plugin-->
														<div class="addthis_inline_share_toolbox"></div>

														<a href="#" class="add-wishlist" title="Add to Wishlist">Add to
															Wishlist</a>
													</div><!-- End .product single-share -->
												</div><!-- End .product-single-details -->
											</div><!-- End .row -->
										</div><!-- End .product-single-container -->
									</div>
								</div>
							</div>
						</div>
						<!-- End-modal -->
					</figure>
					<div class="product-details">
						<div class="category-wrap">
							<div class="category-list">
								<a href="category.html" class="product-category">{{product.category.category_name}}</a>
							</div>
						</div>
						<h3 class="product-title">
							<a href="{% url 'product' pk=product.id %}">{{product.product_name}}</a>
						</h3>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="old-price">₹59.00</span>
							<span class="product-price">₹{{product.product_price}}</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>

			</div>
			{% endfor %}

		</div>
		<hr class="mt-3 mb-6">

		<div class="row feature-boxes-container pt-2">
			<div class="col-sm-6 col-lg-3">
				<div class="feature-box feature-box-simple text-center">
					<i class="icon-earphones-alt"></i>

					<div class="feature-box-content">
						<h3 class="text-uppercase">Customer Support</h3>
						<h5>24x7 Customer Care Support
						</h5>

						<p>The Porto Customer Care Support solve various types of issues that you may have encountered so that there can be quick resolution and you can go back to shopping online.
						</p>
					</div><!-- End .feature-box-content -->
				</div><!-- End .feature-box -->
			</div><!-- End .col-lg-3 -->

			<div class="col-sm-6 col-lg-3">
				<div class="feature-box feature-box-simple text-center">
					<i class="icon-credit-card"></i>

					<div class="feature-box-content">
						<h3 class="text-uppercase">Secured Payment</h3>
						<h5>Safe & Fast</h5>

						<p>Porto offers you multiple payment methods. Whatever your online mode of payment, you can rest assured that Porto's trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.

						</p>
					</div><!-- End .feature-box-content -->
				</div><!-- End .feature-box -->
			</div><!-- End .col-lg-3 -->

			<div class="col-sm-6 col-lg-3">
				<div class="feature-box feature-box-simple text-center">
					<i class="icon-action-undo"></i>

					<div class="feature-box-content">
						<h3 class="text-uppercase">Free Returns</h3>
						<h5>Easy & Free</h5>

						<p>Returns is a scheme provided by respective sellers directly under this policy in terms of which the option of exchange, replacement and/ or refund is offered by the respective sellers to you.
						</p>
					</div><!-- End .feature-box-content -->
				</div><!-- End .feature-box -->
			</div><!-- End .col-lg-3 -->

			<div class="col-sm-6 col-lg-3">
				<div class="feature-box feature-box-simple text-center">
					<i class="icon-shipping"></i>

					<div class="feature-box-content">
						<h3 class="text-uppercase">Free Shipping</h3>
						<h5>Orders Over ₹999</h5>

						<p>Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays.
						</p>
					</div><!-- End .feature-box-content -->
				</div><!-- End .feature-box -->
			</div><!-- End .col-lg-3 -->
		</div><!-- End .row .feature-boxes-container-->
	</section>
</main><!-- End .main -->


{% endblock %}