{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}PORTO||product{% endblock %}
{% block content %}

<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'landing' %}"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item"><a href="{% url 'categorywise' pk=products.category.id %}">{{products.category.category_name}}</a></li>		
				<li class="breadcrumb-item active" aria-current="page">{{products.product_name}}</li>
			</ol>
		</div><!-- End .container -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 main-content">
				<div class="product-single-container product-single-default">
					<div class="row">
						<div class="col-lg-7 col-md-6 product-single-gallery">
							<div class="product-slider-container">
								<div class="product-single-carousel owl-carousel owl-theme">
									<div class="product-item">
										<img class="product-single-image" src="{{products.image1url}}"
											data-zoom-image="{{product.image1.url}}" />
									</div>
									<div class="product-item">
										<img class="product-single-image" src="{{products.image2url}}"
											data-zoom-image="{{products.image2url}}" />
									</div>
									<div class="product-item">
										<img class="product-single-image" src="{{products.image3url}}"
											data-zoom-image="{{products.image3url}}" />
									</div>

								</div>
								<!-- End .product-single-carousel -->
								<span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
							</div>
							<div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
								<div class="owl-dot">
									<img style="height: 150px;width:150px" src="{{products.image1url}}" />
								</div>
								<div class="owl-dot">
									<img style="height: 150px;width:150px" src="{{products.image2url}}" />
								</div>
								<div class="owl-dot">
									<img style="height: 150px;width:150px" src="{{products.image3url}}" />
								</div>

							</div>
						</div><!-- End .col-lg-7 -->

						<div class="col-lg-5 col-md-6 product-single-details">
							<span>{{products.category.category_name}}</span><br>
							<h1 class="product-title">{{products.product_name}}</h1>

							<hr class="short-divider">

							<div class="price-box">
								{% if products.category.valid == True %}

								<span class="old-price">₹{{products.product_price}}</span>
								<span class="product-price">₹{{products.offer_price}}</span>

								<span class="ml-4">{{products.category.category_offer}}%</span>
								{% else %}
								<span class="product-price">₹{{products.offer_price}}</span>

								{% endif %}

							</div><!-- End .price-box -->

							<div class="product-desc">
								<p>{{products.proudct_description}}</p>
							</div><!-- End .product-desc -->

							<ul class="single-info-list">
								<li>product id: <strong>{{products.product_id}}</strong></li>
								<li>product weight: <strong>{{products.product_weight}} gram</strong></li>
								<li>product brand: <strong>{{products.vendor.username}} </strong></li>
								{% if products.product_quantity == 0 %}
								<li>Available: <strong><span style="color: red;">SORRY, THIS PRODUCT IS OUTSTOCK!!</span></strong></li>
								{%else%}
								<li>Available: <strong>{{products.product_quantity}}</strong><strong> <span style="color: red;">only left</span></strong></li>
								{%endif%}
							</ul>

							

							<hr class="divider">

							<div class="product-action">
								<div class="product-single-qty">
									<input class="horizontal-quantity form-control" id="quantity" type="text">
								</div><!-- End .product-single-qty -->


								<button class="btn btn-dark add-cart" onclick="addToCart('{{products.id}}')"
									title="Add to Cart">Add to Cart</button>
							</div><!-- End .product-action -->

							<hr class="divider mb-1">

							
						</div><!-- End .product-single-details -->
					</div><!-- End .row -->
				</div><!-- End .product-single-container -->

				<div class="product-single-tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="product-tab-desc" data-toggle="tab"
								href="#product-desc-content" role="tab" aria-controls="product-desc-content"
								aria-selected="true">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="product-tab-more-info" data-toggle="tab"
								href="#product-more-info-content" role="tab" aria-controls="product-more-info-content"
								aria-selected="false">More Info</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content"
								role="tab" aria-controls="product-tags-content" aria-selected="false">Tags</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
							aria-labelledby="product-tab-desc">
							<div class="product-desc-content">
								<p>{{products.proudct_description}}</p>
								
						
							</div><!-- End .product-desc-content -->
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade fade" id="product-more-info-content" role="tabpanel"
							aria-labelledby="product-tab-more-info">
							<div class="product-desc-content">
								<ul>
									<li><i class="fa fa-check-circle"></i>product id: <strong>{{products.product_id}}</strong></li>
								    <li><i class="fa fa-check-circle"></i>product weight: <strong>{{products.product_weight}} gram</strong></li>
									{% if products.product_quantity == 0 %}
									<li>Available: <strong><span style="color: red;">SORRY, THIS PRODUCT IS OUTSTOCK!!</span></strong></li>
									{%else%}
									<li>Available: <strong>{{products.product_quantity}}</strong><strong> <span style="color: red;">only left</span></strong></li>
									{%endif%}

								
								</ul>
				
							</div><!-- End .product-desc-content -->
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade" id="product-tags-content" role="tabpanel"
							aria-labelledby="product-tab-tags">
							<div class="product-tags-content">
								<form action="#">
									<h4>Add Your Tags:</h4>
									<div class="form-group">
										<input type="text" class="form-control form-control-sm" required>
										<input type="submit" class="btn btn-dark" value="Add Tags">
									</div><!-- End .form-group -->
								</form>
								<p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
							</div><!-- End .product-tags-content -->
						</div><!-- End .tab-pane -->

					
					</div><!-- End .tab-content -->
				</div><!-- End .product-single-tabs -->
			</div><!-- End .main-content -->

			<div class="sidebar-overlay"></div>
			<div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
			<aside class="sidebar-product col-lg-3 mobile-sidebar">
				<div class="sidebar-wrapper">
					<div class="widget widget-info">
						<ul>
							<li>
								<i class="icon-shipping"></i>
								<h4>FREE<br>SHIPPING</h4>
							</li>
							<li>
								<i class="icon-us-dollar"></i>
								<h4>100% MONEY<br>BACK GUARANTEE</h4>
							</li>
							<li>
								<i class="icon-online-support"></i>
								<h4>ONLINE<br>SUPPORT 24/7</h4>
							</li>
						</ul>
					</div><!-- End .widget -->

					<div class="widget">
						<a href="#">
							<img src="{% static '/myapp/images/banners/banner-sidebar.jpg'%}" class="w-100"
								alt="Banner Desc">
						</a>
					</div><!-- End .widget -->


				</div>
			</aside><!-- End .col-lg-3 -->
		</div><!-- End .row -->
	</div><!-- End .container -->

	<div class="products-section">
		<div class="container">
			<h2>Related Products</h2>

			<div class="products-slider owl-carousel owl-theme dots-top">
				{% for related_product in related_product %}

				<div class="product-default inner-quickview inner-icon">
					<figure>
						<a href="{% url 'product' pk=related_product.id %}">
							<img src="{{related_product.image1.url}}" style="width: 150px; height: 150px;">
						</a>
						{% if related_product.category.valid == True %}
						<div class="label-group">
							<span class="product-label label-sale">{{related_product.category.category_offer}}%</span>
						</div>
						{% endif %}
						<div class="btn-icon-group">
							<button class="btn-icon btn-add-cart" onclick="addToCart('{{related_product.id}}')" data-toggle="modal" >
								<i class="icon-shopping-cart"></i></button>
						</div>
						
					
					</figure>
					<div class="product-details">
						<div class="category-wrap">
							<div class="category-list">
								<a href="{% url 'categorywise' pk=related_product.category.id %}"
									class="product-category">{{related_product.category.category_name}}</a>
							</div>
						</div>
						<h3 class="product-title">
							<a href="{% url 'product' pk=related_product.id %}">{{related_product.product_name}}</a>
						</h3>
						
						<div class="price-box">
							{% if related_product.category.valid == True %}

							<span class="old-price">₹{{related_product.product_price}}</span>
							<span class="product-price">₹{{related_product.offer_price}}</span>

							<span class="ml-4">{{related_product.category.category_offer}}%</span>
							{% else %}
							<span class="product-price">₹{{related_product.offer_price}}</span>

							{% endif %}
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
				{%endfor%}
			</div><!-- End .products-slider -->
		</div><!-- End .container -->
	</div><!-- End .products-section -->
</main><!-- End .main -->

{% endblock %}