{% extends 'owner/base.html' %}
{% load static %}
{% block title %}All Report{% endblock %}
{% block content %}
<div class="ml-2">
    <form action="{% url 'all-report' %}" method="POST">{% csrf_token %}
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start" value="2021-03-01" min="2021-03-01" max="2021-10-01">
        <label for="start">End date:</label>
        <input type="date" id="end" name="end" value="2021-03-01" min="2021-03-01"  max="2021-10-01">
        <button type="submit" class=" btn btn-sm btn-primary ml-2"><i
               class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
    </form>
</div>
<!--Vendor management DataTales  -->
<div class="card shadow mb-4 mt-4 col-md-12 ml-auto mr-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Full report</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SI</th>
                        <th>Vendor</th>
                        <th>user</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Shipping Address</th>
                        <th>Order Date</th>
                        <th>Payment Status</th>
                        <th>Shipping Status</th>
                    </tr>
                </thead>
                <tbody class="search_here">
                    {% for item in all_orders %}
                    <tr> 
                        <th>{{forloop.counter}}</th>
                        <td>{{item.user_cart.user_product.vendor}}</td>
                        <td>{{item.user.username}}</td>
                        <td>{{item.user_cart.user_product.product_name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.user_cart.subtotal}}</td>
                        <td>{{item.ship_id.firstname}},
                            {{item.ship_id.organization}},{{item.ship_id.streetaddress}},
                            {{item.ship_id.pincode}},{{item.ship_id.city}},   
                            {{item.ship_id.state}},{{item.ship_id.country}},
                            {{item.ship_id.number}}
                        </td>
                        <td>{{item.ordered_date|date:'Y-m-d'}}</td>
                        <td>{{item.payment_status}}</td>
                        <th>{{item.shipped}}</th>
           
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- ------------search-------------- -->  
  <script src="{% static 'owner/vendor/jquery/jquery.min.js'%}"></script>


<script>
    $(document).ready(function ($) {
        $('.search_here tr').each(function () {
            $(this).attr('data-search-term',
                $(this).text().toLowerCase());
                console.log('hiii')


        });
        $('.search_key').on('keyup', function () {
            console.log('jjjjjj')
            var searchTerm = $(this).val().toLowerCase();
            $('.search_here tr').each(function () {
                if ($(this).filter('[data-search-term *= ' +
                    searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>


{% endblock %}