{% extends 'owner/base.html' %}
{% load static %}
{% block title %}Create categary{% endblock %}
{% block content %}
<form class="col-md-6 ml-auto mr-auto" id="addcategory">{% csrf_token %}
    <div class="form-group">
        <input type="text" name="category" class="form-control" placeholder="Enter your category..">
        <span id="error1"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
<!--Category DataTales  -->
<div class="card shadow mb-4 mt-4 col-md-6 ml-auto mr-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Categories</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category name</th>
                    </tr>
                </thead>
                <tbody>{% for category in category %}
                    <tr>
                        <td>{{category.category_name}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>


{% endblock %}