{% extends 'owner/base.html' %}
{% load static %}
{% block title %}Manage categary{% endblock %}
{% block content %}

<form class="ml-5">
    <div class="form-row align-items-center">{% csrf_token %}
        <label class="mr-sm-2" for="inlineFormCustomSelect">Edit Category:</label>

        <div class="col-auto">

            <input type="text" class="form-control mb-2" id="edit" value="{{category.category_name}}">
        </div>
        <div class="col-auto">
            <button type="button" id="editbutton" class="btn btn-primary mb-2">Change</button>
        </div>
        <span id="error1"></span>

    </div>
</form>


<script src="{% static 'owner/vendor/jquery/jquery.min.js'%}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script>

    $("#editbutton").click(function () {
        console.log("here");
        var fname = $("#edit").val()
        var fname_len = $("#edit").val().length
        var pk = '{{category.id}}'
        console.log(pk)
        var data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'cate': fname,

        }
        if (fname_len < 3) {
            $("#error1").html('category should be 3 characters')
        }


        else {
            console.log("hai")
            // create an AJAX call
            $.ajax({
                url: "/owner/edit-category/"+pk+"/",
                method: "POST",
                data: data,
                dataType: 'json',
                // on success

                success: function (data) {
                    if (data == 'true') {
                        window.location.replace('/owner/manage-category')
                    }
                    if (data == 'false') {
                        $('#error1').html("This category already taken. Enter another one!")
                    }
        
                }
            })

        }
    })
</script>


{% endblock %}